<div class="row">
	<div class="col-md-8">
		<h2 class="model-title">{{modelInfo.proper_name}} #{{model.id}}</h2>
	</div>
	<div class="col-md-4">
		<div class="btn-group">
			<a href="#/{{model.id}}/edit" class="btn btn-success" ng-show="modelInfo.permissions.edit">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
			<button class="btn btn-danger" ng-click="deleteModelAsk(model)">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
	</div>
</div>
<br/>

<div class="errors">
	<p class="alert alert-danger" ng-repeat="error in errors">{{error}}</p>
</div>

<div class="model">
	<div class="properties form-horizontal">
		<div ng-repeat="property in modelInfo.properties" class="property">
			<div class="form-group">
				<label class="control-label col-md-2">
					{{property.title}}
				</label>
				<div class="col-md-10 form-control-static">
					<div class="value" ng-bind-html="model|modelValue:modelInfo.properties:property:false"></div>
				</div>
			</div>
		</div>
	</div>
</div>